# Proyecto Salud Argentina

### El gobierno tiene una pagina con datasets de distintas areas. Estoy importando directamente desde ahi para mantener actualizado el analisis.

In [2]:
import pandas as pd

url_obras_soc = 'http://datos.salud.gob.ar/dataset/0fe5fc87-d980-41c2-8e71-3a7d0964350c/resource/7486a94a-047f-4e19-a742-5b6f2db9c854/download/padron-de-beneficiarios-de-obras-sociales-nacionales-20181217.csv'
url_prepagas = "http://datos.salud.gob.ar/dataset/017cd909-3534-4e11-9b41-cdce8f13276a/resource/7cd31f90-6ce2-4ed9-b1c4-bf454479090e/download/cantidad-de-usuarios-de-empresas-de-medicinas-prepagas-20181220.csv"

obras_soc = pd.read_csv(url_obras_soc)
prepagas = pd.read_csv(url_prepagas)

In [3]:
obras_soc.head()

,id_provincia,provincia,total_titulares,total_familiares,total_beneficiarios
0,6,BUENOS AIRES,5788361,2686163,8474524
1,2,CAPITAL FEDERAL,2151951,732321,2884272
2,10,CATAMARCA,88918,41007,129925
3,22,CHACO,212732,93496,306228
4,26,CHUBUT,177181,115197,292378

In [4]:
prepagas.head()

   id_provincia nombre_provincia  cantidad_usuarios
0             6     BUENOS AIRES            1663320
1             2  CAPITAL FEDERAL             931537
2            10        CATAMARCA              10939
3            22            CHACO              23649
4            26           CHUBUT              70265

## Limpiando un poco los datos

In [5]:
obras_soc = obras_soc.drop(["total_titulares","total_familiares","id_provincia"],axis=1)

obras_soc.rename(columns={"total_beneficiarios":"obras_sociales"},inplace=True)

obras_soc = obras_soc.iloc[0:24]

obras_soc

              provincia  obras_sociales
0          BUENOS AIRES         8474524
1       CAPITAL FEDERAL         2884272
2             CATAMARCA          129925
3                 CHACO          306228
4                CHUBUT          292378
5               CORDOBA         1736832
6            CORRIENTES          388064
7            ENTRE RIOS          608711
8               FORMOSA          140955
9                 JUJUY          243009
10             LA PAMPA          154088
11             LA RIOJA          121185
12              MENDOZA          859801
13             MISIONES          419266
14              NEUQUEN          246021
15            RIO NEGRO          340886
16                SALTA          445201
17             SAN JUAN          296718
18             SAN LUIS          191324
19           SANTA CRUZ          141061
20             SANTA FE         1671953
21  SANTIAGO DEL ESTERO          262962
22     TIERRA DEL FUEGO           82051
23              TUCUMAN          657039

In [6]:
prepagas = prepagas.drop("id_provincia",axis=1)

prepagas = prepagas.iloc[0:24]

prepagas.rename(columns = {"nombre_provincia":"provincia","cantidad_usuarios":"prepagas"},inplace=True)

prepagas

              provincia  prepagas
0          BUENOS AIRES   1663320
1       CAPITAL FEDERAL    931537
2             CATAMARCA     10939
3                 CHACO     23649
4                CHUBUT     70265
5               CORDOBA    424337
6            CORRIENTES     39402
7            ENTRE RIOS     76230
8               FORMOSA     11111
9                 JUJUY     22834
10             LA PAMPA     29853
11             LA RIOJA     14000
12              MENDOZA    136989
13             MISIONES     34681
14              NEUQUEN     61563
15            RIO NEGRO     53079
16                SALTA     49502
17             SAN JUAN     40544
18             SAN LUIS     25176
19           SANTA CRUZ     43873
20             SANTA FE    376989
21  SANTIAGO DEL ESTERO     15209
22     TIERRA DEL FUEGO     30940
23              TUCUMAN     35840

## Ahora necesito saber la cantidad de habitantes por provincias para saber la proporcion

In [7]:
url_censo = 'https://github.com/StarmasterArg/Argentina/raw/master/P1-P_Total_pais%20(1).xls'

censo = pd.read_excel(url_censo)

censo

,Cuadro P1. Total del país. Población total y variación intercensal absoluta y relativa por provincia. Años 2001-2010,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Provincia,Población,NaN,Variación absoluta,Variación relativa (%)
3,NaN,2001,2010.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,Total del país,36260130,40117096.0,3856966,10.6369
6,NaN,NaN,NaN,NaN,NaN
7,Ciudad Autónoma de Buenos Aires,2776138,2890151.0,114013,4.10689
8,Buenos Aires,13827203,15625084.0,1797881,13.0025
9,24 partidos del Gran Buenos Aires,8684437,9916715.0,1232278,14.1895
10,Interior de la provincia de Buenos Aires,5142766,5708369.0,565603,10.998
11,Catamarca,334568,367828.0,33260,9.94118
12,Chaco,984446,1055259.0,70813,7.19318
13,Chubut,413237,509108.0,95871,23.2
14,Córdoba,3066801,3308876.0,242075,7.8934
15,Corrientes,930991,992595.0,61604,6.61703
16,Entre Ríos,1158147,1235994.0,77847,6.72169
17,Formosa,486559,530162.0,43603,8.9615
18,Jujuy,611888,673307.0,61419,10.0376
19,La Pampa,299294,318951.0,19657,6.56779
20,La Rioja,289983,333642.0,43659,15.0557
21,Mendoza,1579651,1738929.0,159278,10.0831
22,Misiones,965522,1101593.0,136071,14.093
23,Neuquén,474155,551266.0,77111,16.2628
24,Río Negro,552822,638645.0,85823,15.5245
25,Salta,1079051,1214441.0,135390,12.5471
26,San Juan,620023,681055.0,61032,9.84351
27,San Luis,367933,432310.0,64377,17.4969
28,Santa Cruz,196958,273964.0,77006,39.0977
29,Santa Fe,3000701,3194537.0,193836,6.45969
30,Santiago del Estero,804457,874006.0,69549,8.64546
31,"Tierra del Fuego, Antártida e Islas del Atlánt...",101079,127205.0,26126,25.8471
32,Tucumán,1338523,1448188.0,109665,8.19299
33,NaN,NaN,NaN,NaN,NaN
34,Nota: la población total incluye a las persona...,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN
36,"Las Islas Malvinas, Georgias del Sur, Sandwich...",NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN
45,"Fuente: INDEC. Censo Nacional de Población, Ho...",NaN,NaN,NaN,NaN

In [8]:
censo = pd.read_excel(url_censo,header=6)

censo = censo[:27]

censo = censo.drop([0,3,4])

censo = censo.drop([36260130,3856966,10.636933734104105],axis=1)

censo.columns = ["provincia","cant_habitantes"]

censo

                                            provincia  cant_habitantes
1                     Ciudad Autónoma de Buenos Aires        2890151.0
2                                        Buenos Aires       15625084.0
5                                           Catamarca         367828.0
6                                               Chaco        1055259.0
7                                              Chubut         509108.0
8                                             Córdoba        3308876.0
9                                          Corrientes         992595.0
10                                         Entre Ríos        1235994.0
11                                            Formosa         530162.0
12                                              Jujuy         673307.0
13                                           La Pampa         318951.0
14                                           La Rioja         333642.0
15                                            Mendoza        1738929.0
16                                           Misiones        1101593.0
17                                            Neuquén         551266.0
18                                          Río Negro         638645.0
19                                              Salta        1214441.0
20                                           San Juan         681055.0
21                                           San Luis         432310.0
22                                         Santa Cruz         273964.0
23                                           Santa Fe        3194537.0
24                                Santiago del Estero         874006.0
25  Tierra del Fuego, Antártida e Islas del Atlánt...         127205.0
26                                            Tucumán        1448188.0

In [9]:
# CORRECCIONES CON DATOS 2018
# http://www.deis.msal.gov.ar/wp-content/uploads/2019/02/Indicadores-Basicos-2018.pdf 

censo.loc[1,"cant_habitantes"] = 3059122
censo.loc[2,"cant_habitantes"] = 16842135

censo.loc[5,"cant_habitantes"] = 400678
censo.loc[6,"cant_habitantes"] = 1155723
censo.loc[7,"cant_habitantes"] = 577456
censo.loc[8,"cant_habitantes"] = 3606440
censo.loc[9,"cant_habitantes"] = 1080355
censo.loc[10,"cant_habitantes"] = 1334000
censo.loc[11,"cant_habitantes"] = 584614
censo.loc[12,"cant_habitantes"] = 736542
censo.loc[13,"cant_habitantes"] = 346191
censo.loc[14,"cant_habitantes"] = 372879
censo.loc[15,"cant_habitantes"] = 1907045
censo.loc[16,"cant_habitantes"] = 1204182
censo.loc[17,"cant_habitantes"] = 628897
censo.loc[18,"cant_habitantes"] = 708799
censo.loc[19,"cant_habitantes"] = 1351878
censo.loc[20,"cant_habitantes"] = 747488
censo.loc[21,"cant_habitantes"] = 482796
censo.loc[22,"cant_habitantes"] = 329499
censo.loc[23,"cant_habitantes"] = 3425656
censo.loc[24,"cant_habitantes"] = 938109
censo.loc[25,"cant_habitantes"] = 156509
censo.loc[26,"cant_habitantes"] = 1613476


censo["provincia"] = censo["provincia"].str.upper()

censo

                                            provincia  cant_habitantes
1                     CIUDAD AUTÓNOMA DE BUENOS AIRES        3059122.0
2                                        BUENOS AIRES       16842135.0
5                                           CATAMARCA         400678.0
6                                               CHACO        1155723.0
7                                              CHUBUT         577456.0
8                                             CÓRDOBA        3606440.0
9                                          CORRIENTES        1080355.0
10                                         ENTRE RÍOS        1334000.0
11                                            FORMOSA         584614.0
12                                              JUJUY         736542.0
13                                           LA PAMPA         346191.0
14                                           LA RIOJA         372879.0
15                                            MENDOZA        1907045.0
16                                           MISIONES        1204182.0
17                                            NEUQUÉN         628897.0
18                                          RÍO NEGRO         708799.0
19                                              SALTA        1351878.0
20                                           SAN JUAN         747488.0
21                                           SAN LUIS         482796.0
22                                         SANTA CRUZ         329499.0
23                                           SANTA FE        3425656.0
24                                SANTIAGO DEL ESTERO         938109.0
25  TIERRA DEL FUEGO, ANTÁRTIDA E ISLAS DEL ATLÁNT...         156509.0
26                                            TUCUMÁN        1613476.0

In [10]:
# CORRECCIONES PARA PODER USAR LA COLUMNA PROVINCIA COMO INDICE PARA
# PODER AGREGAR LA COLUMNA DE HABITANTES DE LA DATAFRAME CENSO(acentos...)

censo.loc[1,"provincia"] = "CAPITAL FEDERAL"
censo.loc[8,"provincia"] = "CORDOBA"
censo.loc[10,"provincia"] = "ENTRE RIOS"
censo.loc[17,"provincia"] = "NEUQUEN"
censo.loc[26,"provincia"] = "TUCUMAN"
censo.loc[18,"provincia"] = "RIO NEGRO"
censo.loc[25,"provincia"] = "TIERRA DEL FUEGO"

censo = censo.set_index("provincia")

censo

                     cant_habitantes
provincia
CAPITAL FEDERAL            3059122.0
BUENOS AIRES              16842135.0
CATAMARCA                   400678.0
CHACO                      1155723.0
CHUBUT                      577456.0
CORDOBA                    3606440.0
CORRIENTES                 1080355.0
ENTRE RIOS                 1334000.0
FORMOSA                     584614.0
JUJUY                       736542.0
LA PAMPA                    346191.0
LA RIOJA                    372879.0
MENDOZA                    1907045.0
MISIONES                   1204182.0
NEUQUEN                     628897.0
RIO NEGRO                   708799.0
SALTA                      1351878.0
SAN JUAN                    747488.0
SAN LUIS                    482796.0
SANTA CRUZ                  329499.0
SANTA FE                   3425656.0
SANTIAGO DEL ESTERO         938109.0
TIERRA DEL FUEGO            156509.0
TUCUMAN                    1613476.0

In [11]:
df = obras_soc

df["prepagas"] = prepagas["prepagas"]
   
df["total_med_privada"] = df["obras_sociales"]+df["prepagas"]

df = df.set_index("provincia")

df

                     obras_sociales  prepagas  total_med_privada
provincia
BUENOS AIRES                8474524   1663320           10137844
CAPITAL FEDERAL             2884272    931537            3815809
CATAMARCA                    129925     10939             140864
CHACO                        306228     23649             329877
CHUBUT                       292378     70265             362643
CORDOBA                     1736832    424337            2161169
CORRIENTES                   388064     39402             427466
ENTRE RIOS                   608711     76230             684941
FORMOSA                      140955     11111             152066
JUJUY                        243009     22834             265843
LA PAMPA                     154088     29853             183941
LA RIOJA                     121185     14000             135185
MENDOZA                      859801    136989             996790
MISIONES                     419266     34681             453947
NEUQUEN                      246021     61563             307584
RIO NEGRO                    340886     53079             393965
SALTA                        445201     49502             494703
SAN JUAN                     296718     40544             337262
SAN LUIS                     191324     25176             216500
SANTA CRUZ                   141061     43873             184934
SANTA FE                    1671953    376989            2048942
SANTIAGO DEL ESTERO          262962     15209             278171
TIERRA DEL FUEGO              82051     30940             112991
TUCUMAN                      657039     35840             692879

In [12]:
# Agregando la poblacion a la df principal

df["cant_habitantes"] = censo["cant_habitantes"]

df

,obras_sociales,prepagas,total_med_privada,cant_habitantes
provincia,,,,
BUENOS AIRES,8474524,1663320,10137844,16842135.0
CAPITAL FEDERAL,2884272,931537,3815809,3059122.0
CATAMARCA,129925,10939,140864,400678.0
CHACO,306228,23649,329877,1155723.0
CHUBUT,292378,70265,362643,577456.0
CORDOBA,1736832,424337,2161169,3606440.0
CORRIENTES,388064,39402,427466,1080355.0
ENTRE RIOS,608711,76230,684941,1334000.0
FORMOSA,140955,11111,152066,584614.0
JUJUY,243009,22834,265843,736542.0
LA PAMPA,154088,29853,183941,346191.0
LA RIOJA,121185,14000,135185,372879.0
MENDOZA,859801,136989,996790,1907045.0
MISIONES,419266,34681,453947,1204182.0
NEUQUEN,246021,61563,307584,628897.0
RIO NEGRO,340886,53079,393965,708799.0
SALTA,445201,49502,494703,1351878.0
SAN JUAN,296718,40544,337262,747488.0
SAN LUIS,191324,25176,216500,482796.0
SANTA CRUZ,141061,43873,184934,329499.0
SANTA FE,1671953,376989,2048942,3425656.0
SANTIAGO DEL ESTERO,262962,15209,278171,938109.0
TIERRA DEL FUEGO,82051,30940,112991,156509.0
TUCUMAN,657039,35840,692879,1613476.0

In [13]:
df["procentaje_salud_privada"] = df["total_med_privada"]/df["cant_habitantes"]*100

df

,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada
provincia,,,,,
BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342
CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431
CATAMARCA,129925,10939,140864,400678.0,35.156410
CHACO,306228,23649,329877,1155723.0,28.542912
CHUBUT,292378,70265,362643,577456.0,62.800109
CORDOBA,1736832,424337,2161169,3606440.0,59.925273
CORRIENTES,388064,39402,427466,1080355.0,39.567179
ENTRE RIOS,608711,76230,684941,1334000.0,51.344903
FORMOSA,140955,11111,152066,584614.0,26.011351
JUJUY,243009,22834,265843,736542.0,36.093393
LA PAMPA,154088,29853,183941,346191.0,53.132808
LA RIOJA,121185,14000,135185,372879.0,36.254388
MENDOZA,859801,136989,996790,1907045.0,52.268824
MISIONES,419266,34681,453947,1204182.0,37.697541
NEUQUEN,246021,61563,307584,628897.0,48.908486
RIO NEGRO,340886,53079,393965,708799.0,55.582048
SALTA,445201,49502,494703,1351878.0,36.593761
SAN JUAN,296718,40544,337262,747488.0,45.119387
SAN LUIS,191324,25176,216500,482796.0,44.842956
SANTA CRUZ,141061,43873,184934,329499.0,56.125815
SANTA FE,1671953,376989,2048942,3425656.0,59.811668
SANTIAGO DEL ESTERO,262962,15209,278171,938109.0,29.652311
TIERRA DEL FUEGO,82051,30940,112991,156509.0,72.194570
TUCUMAN,657039,35840,692879,1613476.0,42.943248

### El porcentage en capital federal me esta dando arriva del 100%.Puede ser porque estan desactualizados los datos de poblacion, o porque muchas de las personas con Obra Social desvian sus aportes a servicios de medicina prepaga. 
### Creo que la segunda opcion es la mas probable. Creo que no tengo forma de saber esto. Voy a calcular que porcentaje de los usuarios de medicina prepaga en relacion a los de obras sociales para ver si es relevante.

In [14]:
df["procentaje_obras"] = df["obras_sociales"]/df["cant_habitantes"]*100

df["procentaje_prepagas"] = df["prepagas"]/df["cant_habitantes"]*100

df["rel_prepagas_obras_soc"] = df["prepagas"]/df["obras_sociales"]*100

df

,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc
provincia,,,,,,,,
BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297
CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127
CATAMARCA,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473
CHACO,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677
CHUBUT,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246
CORDOBA,1736832,424337,2161169,3606440.0,59.925273,48.159182,11.766091,24.431666
CORRIENTES,388064,39402,427466,1080355.0,39.567179,35.920045,3.647135,10.153480
ENTRE RIOS,608711,76230,684941,1334000.0,51.344903,45.630510,5.714393,12.523184
FORMOSA,140955,11111,152066,584614.0,26.011351,24.110781,1.900570,7.882658
JUJUY,243009,22834,265843,736542.0,36.093393,32.993231,3.100163,9.396360
LA PAMPA,154088,29853,183941,346191.0,53.132808,44.509534,8.623274,19.373994
LA RIOJA,121185,14000,135185,372879.0,36.254388,32.499819,3.754569,11.552585
MENDOZA,859801,136989,996790,1907045.0,52.268824,45.085512,7.183312,15.932640
MISIONES,419266,34681,453947,1204182.0,37.697541,34.817494,2.880046,8.271837
NEUQUEN,246021,61563,307584,628897.0,48.908486,39.119442,9.789043,25.023474
RIO NEGRO,340886,53079,393965,708799.0,55.582048,48.093465,7.488583,15.570895
SALTA,445201,49502,494703,1351878.0,36.593761,32.932040,3.661721,11.119023
SAN JUAN,296718,40544,337262,747488.0,45.119387,39.695353,5.424034,13.664152
SAN LUIS,191324,25176,216500,482796.0,44.842956,39.628332,5.214625,13.158830
SANTA CRUZ,141061,43873,184934,329499.0,56.125815,42.810752,13.315063,31.102147
SANTA FE,1671953,376989,2048942,3425656.0,59.811668,48.806798,11.004870,22.547823
SANTIAGO DEL ESTERO,262962,15209,278171,938109.0,29.652311,28.031071,1.621240,5.783725
TIERRA DEL FUEGO,82051,30940,112991,156509.0,72.194570,52.425739,19.768831,37.708255
TUCUMAN,657039,35840,692879,1613476.0,42.943248,40.721957,2.221291,5.454775

In [15]:
mayor_25 = df[df["rel_prepagas_obras_soc"]>25]["rel_prepagas_obras_soc"]

mayor_25

provincia
CAPITAL FEDERAL     32.297127
NEUQUEN             25.023474
SANTA CRUZ          31.102147
TIERRA DEL FUEGO    37.708255
Name: rel_prepagas_obras_soc, dtype: float64

### En solo 4 provincias la relacion entre usuarios de prepagas y obras sociales es mayor al 25%. Ya que no puedo diferenciarlos voy a tomar la decision de usar solo los datos de usuarios de obras sociales para el analisis. Y en cualquier caso hacer otro analisis para estas 4 provincias.

In [18]:
mortalidad_url = "http://www.deis.msal.gov.ar/wp-content/uploads/2019/01/DefWeb17.csv"
mortalidad = pd.read_csv(mortalidad_url,encoding="latin-1")

mortalidad

       PROVRES  SEXO CAUSA  MAT            GRUPEDAD  CUENTA
0           82     1   V22  NaN          06_25 a 29       1
1           30     1   D48  NaN         17_80 y más       1
2           42     1   I50  NaN         17_80 y más       7
3           70     1   W36  NaN          07_30 a 34       1
4           82     1   Y30  NaN          06_25 a 29       1
5           54     1   K72  NaN          11_50 a 54       4
6           99     2   C50  NaN          16_75 a 79       2
7           10     2   M19  NaN         17_80 y más       1
8           14     1   V64  NaN          05_20 a 24       1
9           58     2   C34  NaN          16_75 a 79       6
10          18     1   C05  NaN          10_45 a 49       1
11          82     1   I49  NaN         17_80 y más      76
12          58     2   M32  NaN          11_50 a 54       1
13          18     2   R56  NaN         17_80 y más       1
14          38     2   I21  NaN          12_55 a 59       2
15          66     1   D53  NaN          10_45 a 49       1
16          78     1   C34  NaN          15_70 a 74       5
17          26     1   V18  NaN          03_10 a 14       1
18          22     2   J18  NaN          15_70 a 74      32
19           6     1   Y28  NaN  99_Sin especificar       7
20          54     1   J18  NaN          06_25 a 29       5
21          54     2   R99  NaN          12_55 a 59       2
22          34     1   V89  NaN          04_15 a 19       1
23          14     1   C67  NaN          11_50 a 54       2
24          78     1   I34  NaN          09_40 a 44       1
25          86     1   C32  NaN          14_65 a 69       1
26          82     2   V48  NaN          13_60 a 64       1
27          58     1   K29  NaN          12_55 a 59       2
28          58     2   I11  NaN          14_65 a 69       1
29          34     2   A04  NaN          16_75 a 79       1
...        ...   ...   ...  ...                 ...     ...
49801       34     1   C24  NaN          14_65 a 69       1
49802        2     1   A16  NaN          07_30 a 34       1
49803       58     1   N18  NaN          12_55 a 59       2
49804       42     1   J84  NaN          15_70 a 74       1
49805       30     1   G30  NaN          16_75 a 79       2
49806       30     1   J69  NaN          15_70 a 74       1
49807       82     1   E66  NaN          08_35 a 39       2
49808        2     2   D37  NaN          14_65 a 69       2
49809       82     2   C25  NaN         17_80 y más      80
49810        6     2   C48  NaN          16_75 a 79      11
49811       54     2   I71  NaN         17_80 y más       7
49812       58     1   I69  NaN          15_70 a 74       3
49813       62     1   A16  NaN          12_55 a 59       1
49814       46     2   G40  NaN            02_1 a 9       2
49815        2     1   R57  NaN          15_70 a 74      10
49816       18     2   W87  NaN          03_10 a 14       1
49817       66     2   X70  NaN          04_15 a 19      15
49818        2     2   N17  NaN          13_60 a 64       8
49819       66     2   I21  NaN          14_65 a 69      14
49820       82     2   D47  NaN          14_65 a 69       1
49821       18     1   E11  NaN          16_75 a 79       2
49822       14     2   M32  NaN          11_50 a 54       2
49823       86     1   C71  NaN          03_10 a 14       3
49824       22     1   J98  NaN          14_65 a 69       4
49825        2     1   I47  NaN          12_55 a 59       2
49826       66     1   I62  NaN          12_55 a 59       1
49827       90     1   J69  NaN   01_Menor de 1 año       6
49828       34     1   G62  NaN          13_60 a 64       1
49829       14     2   G04  NaN          09_40 a 44       2
49830       14     2   C02  NaN          09_40 a 44       1

[49831 rows x 6 columns]