# Proyecto Salud Argentina

### El gobierno tiene una pagina con datasets de distintas areas. Estoy importando directamente desde ahi para mantener actualizado el analisis.

In [137]:
import pandas as pd

url_obras_soc = 'http://datos.salud.gob.ar/dataset/0fe5fc87-d980-41c2-8e71-3a7d0964350c/resource/7486a94a-047f-4e19-a742-5b6f2db9c854/download/padron-de-beneficiarios-de-obras-sociales-nacionales-20181217.csv'
url_prepagas = "http://datos.salud.gob.ar/dataset/017cd909-3534-4e11-9b41-cdce8f13276a/resource/7cd31f90-6ce2-4ed9-b1c4-bf454479090e/download/cantidad-de-usuarios-de-empresas-de-medicinas-prepagas-20181220.csv"

obras_soc = pd.read_csv(url_obras_soc)
prepagas = pd.read_csv(url_prepagas)

In [138]:
obras_soc.head()

,id_provincia,provincia,total_titulares,total_familiares,total_beneficiarios
0,6,BUENOS AIRES,5788361,2686163,8474524
1,2,CAPITAL FEDERAL,2151951,732321,2884272
2,10,CATAMARCA,88918,41007,129925
3,22,CHACO,212732,93496,306228
4,26,CHUBUT,177181,115197,292378

In [139]:
prepagas.head()

   id_provincia nombre_provincia  cantidad_usuarios
0             6     BUENOS AIRES            1663320
1             2  CAPITAL FEDERAL             931537
2            10        CATAMARCA              10939
3            22            CHACO              23649
4            26           CHUBUT              70265

## Limpiando un poco los datos

In [140]:
obras_soc = obras_soc.drop(["total_titulares","total_familiares"],axis=1)

obras_soc.rename(columns={"total_beneficiarios":"obras_sociales"},inplace=True)

obras_soc = obras_soc.iloc[0:24]

obras_soc

    id_provincia            provincia  obras_sociales
0              6         BUENOS AIRES         8474524
1              2      CAPITAL FEDERAL         2884272
2             10            CATAMARCA          129925
3             22                CHACO          306228
4             26               CHUBUT          292378
5             14              CORDOBA         1736832
6             18           CORRIENTES          388064
7             30           ENTRE RIOS          608711
8             34              FORMOSA          140955
9             38                JUJUY          243009
10            42             LA PAMPA          154088
11            46             LA RIOJA          121185
12            50              MENDOZA          859801
13            54             MISIONES          419266
14            58              NEUQUEN          246021
15            62            RIO NEGRO          340886
16            66                SALTA          445201
17            70             SAN JUAN          296718
18            74             SAN LUIS          191324
19            78           SANTA CRUZ          141061
20            82             SANTA FE         1671953
21            86  SANTIAGO DEL ESTERO          262962
22            94     TIERRA DEL FUEGO           82051
23            90              TUCUMAN          657039

In [141]:
prepagas = prepagas.iloc[0:24]

prepagas.rename(columns = {"nombre_provincia":"provincia","cantidad_usuarios":"prepagas"},inplace=True)

prepagas

    id_provincia            provincia  prepagas
0              6         BUENOS AIRES   1663320
1              2      CAPITAL FEDERAL    931537
2             10            CATAMARCA     10939
3             22                CHACO     23649
4             26               CHUBUT     70265
5             14              CORDOBA    424337
6             18           CORRIENTES     39402
7             30           ENTRE RIOS     76230
8             34              FORMOSA     11111
9             38                JUJUY     22834
10            42             LA PAMPA     29853
11            46             LA RIOJA     14000
12            50              MENDOZA    136989
13            54             MISIONES     34681
14            58              NEUQUEN     61563
15            62            RIO NEGRO     53079
16            66                SALTA     49502
17            70             SAN JUAN     40544
18            74             SAN LUIS     25176
19            78           SANTA CRUZ     43873
20            82             SANTA FE    376989
21            86  SANTIAGO DEL ESTERO     15209
22            94     TIERRA DEL FUEGO     30940
23            90              TUCUMAN     35840

## Ahora necesito saber la cantidad de habitantes por provincias para saber la proporcion

In [142]:
url_censo = 'https://github.com/StarmasterArg/Argentina/raw/master/P1-P_Total_pais%20(1).xls'

censo = pd.read_excel(url_censo)

censo

,Cuadro P1. Total del país. Población total y variación intercensal absoluta y relativa por provincia. Años 2001-2010,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Provincia,Población,NaN,Variación absoluta,Variación relativa (%)
3,NaN,2001,2010.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,Total del país,36260130,40117096.0,3856966,10.6369
6,NaN,NaN,NaN,NaN,NaN
7,Ciudad Autónoma de Buenos Aires,2776138,2890151.0,114013,4.10689
8,Buenos Aires,13827203,15625084.0,1797881,13.0025
9,24 partidos del Gran Buenos Aires,8684437,9916715.0,1232278,14.1895
10,Interior de la provincia de Buenos Aires,5142766,5708369.0,565603,10.998
11,Catamarca,334568,367828.0,33260,9.94118
12,Chaco,984446,1055259.0,70813,7.19318
13,Chubut,413237,509108.0,95871,23.2
14,Córdoba,3066801,3308876.0,242075,7.8934
15,Corrientes,930991,992595.0,61604,6.61703
16,Entre Ríos,1158147,1235994.0,77847,6.72169
17,Formosa,486559,530162.0,43603,8.9615
18,Jujuy,611888,673307.0,61419,10.0376
19,La Pampa,299294,318951.0,19657,6.56779
20,La Rioja,289983,333642.0,43659,15.0557
21,Mendoza,1579651,1738929.0,159278,10.0831
22,Misiones,965522,1101593.0,136071,14.093
23,Neuquén,474155,551266.0,77111,16.2628
24,Río Negro,552822,638645.0,85823,15.5245
25,Salta,1079051,1214441.0,135390,12.5471
26,San Juan,620023,681055.0,61032,9.84351
27,San Luis,367933,432310.0,64377,17.4969
28,Santa Cruz,196958,273964.0,77006,39.0977
29,Santa Fe,3000701,3194537.0,193836,6.45969
30,Santiago del Estero,804457,874006.0,69549,8.64546
31,"Tierra del Fuego, Antártida e Islas del Atlánt...",101079,127205.0,26126,25.8471
32,Tucumán,1338523,1448188.0,109665,8.19299
33,NaN,NaN,NaN,NaN,NaN
34,Nota: la población total incluye a las persona...,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN
36,"Las Islas Malvinas, Georgias del Sur, Sandwich...",NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN
45,"Fuente: INDEC. Censo Nacional de Población, Ho...",NaN,NaN,NaN,NaN

In [143]:
censo = pd.read_excel(url_censo,header=6)

censo = censo[:27]

censo = censo.drop([0,3,4])

censo = censo.drop([36260130,3856966,10.636933734104105],axis=1)

censo.columns = ["provincia","cant_habitantes"]

censo

                                            provincia  cant_habitantes
1                     Ciudad Autónoma de Buenos Aires        2890151.0
2                                        Buenos Aires       15625084.0
5                                           Catamarca         367828.0
6                                               Chaco        1055259.0
7                                              Chubut         509108.0
8                                             Córdoba        3308876.0
9                                          Corrientes         992595.0
10                                         Entre Ríos        1235994.0
11                                            Formosa         530162.0
12                                              Jujuy         673307.0
13                                           La Pampa         318951.0
14                                           La Rioja         333642.0
15                                            Mendoza        1738929.0
16                                           Misiones        1101593.0
17                                            Neuquén         551266.0
18                                          Río Negro         638645.0
19                                              Salta        1214441.0
20                                           San Juan         681055.0
21                                           San Luis         432310.0
22                                         Santa Cruz         273964.0
23                                           Santa Fe        3194537.0
24                                Santiago del Estero         874006.0
25  Tierra del Fuego, Antártida e Islas del Atlánt...         127205.0
26                                            Tucumán        1448188.0

In [144]:
# CORRECCIONES CON DATOS 2018
# http://www.deis.msal.gov.ar/wp-content/uploads/2019/02/Indicadores-Basicos-2018.pdf 

censo.loc[1,"cant_habitantes"] = 3059122
censo.loc[2,"cant_habitantes"] = 16842135

censo.loc[5,"cant_habitantes"] = 400678
censo.loc[6,"cant_habitantes"] = 1155723
censo.loc[7,"cant_habitantes"] = 577456
censo.loc[8,"cant_habitantes"] = 3606440
censo.loc[9,"cant_habitantes"] = 1080355
censo.loc[10,"cant_habitantes"] = 1334000
censo.loc[11,"cant_habitantes"] = 584614
censo.loc[12,"cant_habitantes"] = 736542
censo.loc[13,"cant_habitantes"] = 346191
censo.loc[14,"cant_habitantes"] = 372879
censo.loc[15,"cant_habitantes"] = 1907045
censo.loc[16,"cant_habitantes"] = 1204182
censo.loc[17,"cant_habitantes"] = 628897
censo.loc[18,"cant_habitantes"] = 708799
censo.loc[19,"cant_habitantes"] = 1351878
censo.loc[20,"cant_habitantes"] = 747488
censo.loc[21,"cant_habitantes"] = 482796
censo.loc[22,"cant_habitantes"] = 329499
censo.loc[23,"cant_habitantes"] = 3425656
censo.loc[24,"cant_habitantes"] = 938109
censo.loc[25,"cant_habitantes"] = 156509
censo.loc[26,"cant_habitantes"] = 1613476


censo["provincia"] = censo["provincia"].str.upper()

censo

                                            provincia  cant_habitantes
1                     CIUDAD AUTÓNOMA DE BUENOS AIRES        3059122.0
2                                        BUENOS AIRES       16842135.0
5                                           CATAMARCA         400678.0
6                                               CHACO        1155723.0
7                                              CHUBUT         577456.0
8                                             CÓRDOBA        3606440.0
9                                          CORRIENTES        1080355.0
10                                         ENTRE RÍOS        1334000.0
11                                            FORMOSA         584614.0
12                                              JUJUY         736542.0
13                                           LA PAMPA         346191.0
14                                           LA RIOJA         372879.0
15                                            MENDOZA        1907045.0
16                                           MISIONES        1204182.0
17                                            NEUQUÉN         628897.0
18                                          RÍO NEGRO         708799.0
19                                              SALTA        1351878.0
20                                           SAN JUAN         747488.0
21                                           SAN LUIS         482796.0
22                                         SANTA CRUZ         329499.0
23                                           SANTA FE        3425656.0
24                                SANTIAGO DEL ESTERO         938109.0
25  TIERRA DEL FUEGO, ANTÁRTIDA E ISLAS DEL ATLÁNT...         156509.0
26                                            TUCUMÁN        1613476.0

In [145]:
# CORRECCIONES PARA PODER USAR LA COLUMNA PROVINCIA COMO INDICE PARA
# PODER AGREGAR LA COLUMNA DE HABITANTES DE LA DATAFRAME CENSO(acentos...)

censo.loc[1,"provincia"] = "CAPITAL FEDERAL"
censo.loc[8,"provincia"] = "CORDOBA"
censo.loc[10,"provincia"] = "ENTRE RIOS"
censo.loc[17,"provincia"] = "NEUQUEN"
censo.loc[26,"provincia"] = "TUCUMAN"
censo.loc[18,"provincia"] = "RIO NEGRO"
censo.loc[25,"provincia"] = "TIERRA DEL FUEGO"

censo = censo.set_index("provincia")

censo

                     cant_habitantes
provincia
CAPITAL FEDERAL            3059122.0
BUENOS AIRES              16842135.0
CATAMARCA                   400678.0
CHACO                      1155723.0
CHUBUT                      577456.0
CORDOBA                    3606440.0
CORRIENTES                 1080355.0
ENTRE RIOS                 1334000.0
FORMOSA                     584614.0
JUJUY                       736542.0
LA PAMPA                    346191.0
LA RIOJA                    372879.0
MENDOZA                    1907045.0
MISIONES                   1204182.0
NEUQUEN                     628897.0
RIO NEGRO                   708799.0
SALTA                      1351878.0
SAN JUAN                    747488.0
SAN LUIS                    482796.0
SANTA CRUZ                  329499.0
SANTA FE                   3425656.0
SANTIAGO DEL ESTERO         938109.0
TIERRA DEL FUEGO            156509.0
TUCUMAN                    1613476.0

In [146]:
df = obras_soc

df["prepagas"] = prepagas["prepagas"]
   
df["total_med_privada"] = df["obras_sociales"]+df["prepagas"]

df = df.set_index("provincia")

df

                     id_provincia  obras_sociales  prepagas  total_med_privada
provincia
BUENOS AIRES                    6         8474524   1663320           10137844
CAPITAL FEDERAL                 2         2884272    931537            3815809
CATAMARCA                      10          129925     10939             140864
CHACO                          22          306228     23649             329877
CHUBUT                         26          292378     70265             362643
CORDOBA                        14         1736832    424337            2161169
CORRIENTES                     18          388064     39402             427466
ENTRE RIOS                     30          608711     76230             684941
FORMOSA                        34          140955     11111             152066
JUJUY                          38          243009     22834             265843
LA PAMPA                       42          154088     29853             183941
LA RIOJA                       46          121185     14000             135185
MENDOZA                        50          859801    136989             996790
MISIONES                       54          419266     34681             453947
NEUQUEN                        58          246021     61563             307584
RIO NEGRO                      62          340886     53079             393965
SALTA                          66          445201     49502             494703
SAN JUAN                       70          296718     40544             337262
SAN LUIS                       74          191324     25176             216500
SANTA CRUZ                     78          141061     43873             184934
SANTA FE                       82         1671953    376989            2048942
SANTIAGO DEL ESTERO            86          262962     15209             278171
TIERRA DEL FUEGO               94           82051     30940             112991
TUCUMAN                        90          657039     35840             692879

In [147]:
# Agregando la poblacion a la df principal

df["cant_habitantes"] = censo["cant_habitantes"]

df

,id_provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes
provincia,,,,,
BUENOS AIRES,6,8474524,1663320,10137844,16842135.0
CAPITAL FEDERAL,2,2884272,931537,3815809,3059122.0
CATAMARCA,10,129925,10939,140864,400678.0
CHACO,22,306228,23649,329877,1155723.0
CHUBUT,26,292378,70265,362643,577456.0
CORDOBA,14,1736832,424337,2161169,3606440.0
CORRIENTES,18,388064,39402,427466,1080355.0
ENTRE RIOS,30,608711,76230,684941,1334000.0
FORMOSA,34,140955,11111,152066,584614.0
JUJUY,38,243009,22834,265843,736542.0
LA PAMPA,42,154088,29853,183941,346191.0
LA RIOJA,46,121185,14000,135185,372879.0
MENDOZA,50,859801,136989,996790,1907045.0
MISIONES,54,419266,34681,453947,1204182.0
NEUQUEN,58,246021,61563,307584,628897.0
RIO NEGRO,62,340886,53079,393965,708799.0
SALTA,66,445201,49502,494703,1351878.0
SAN JUAN,70,296718,40544,337262,747488.0
SAN LUIS,74,191324,25176,216500,482796.0
SANTA CRUZ,78,141061,43873,184934,329499.0
SANTA FE,82,1671953,376989,2048942,3425656.0
SANTIAGO DEL ESTERO,86,262962,15209,278171,938109.0
TIERRA DEL FUEGO,94,82051,30940,112991,156509.0
TUCUMAN,90,657039,35840,692879,1613476.0

In [148]:
df["procentaje_salud_privada"] = df["total_med_privada"]/df["cant_habitantes"]*100

df

,id_provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada
provincia,,,,,,
BUENOS AIRES,6,8474524,1663320,10137844,16842135.0,60.193342
CAPITAL FEDERAL,2,2884272,931537,3815809,3059122.0,124.735431
CATAMARCA,10,129925,10939,140864,400678.0,35.156410
CHACO,22,306228,23649,329877,1155723.0,28.542912
CHUBUT,26,292378,70265,362643,577456.0,62.800109
CORDOBA,14,1736832,424337,2161169,3606440.0,59.925273
CORRIENTES,18,388064,39402,427466,1080355.0,39.567179
ENTRE RIOS,30,608711,76230,684941,1334000.0,51.344903
FORMOSA,34,140955,11111,152066,584614.0,26.011351
JUJUY,38,243009,22834,265843,736542.0,36.093393
LA PAMPA,42,154088,29853,183941,346191.0,53.132808
LA RIOJA,46,121185,14000,135185,372879.0,36.254388
MENDOZA,50,859801,136989,996790,1907045.0,52.268824
MISIONES,54,419266,34681,453947,1204182.0,37.697541
NEUQUEN,58,246021,61563,307584,628897.0,48.908486
RIO NEGRO,62,340886,53079,393965,708799.0,55.582048
SALTA,66,445201,49502,494703,1351878.0,36.593761
SAN JUAN,70,296718,40544,337262,747488.0,45.119387
SAN LUIS,74,191324,25176,216500,482796.0,44.842956
SANTA CRUZ,78,141061,43873,184934,329499.0,56.125815
SANTA FE,82,1671953,376989,2048942,3425656.0,59.811668
SANTIAGO DEL ESTERO,86,262962,15209,278171,938109.0,29.652311
TIERRA DEL FUEGO,94,82051,30940,112991,156509.0,72.194570
TUCUMAN,90,657039,35840,692879,1613476.0,42.943248

### El porcentage en capital federal me esta dando arriva del 100%.Puede ser porque estan desactualizados los datos de poblacion, o porque muchas de las personas con Obra Social desvian sus aportes a servicios de medicina prepaga. 
### Creo que la segunda opcion es la mas probable. Creo que no tengo forma de saber esto. Voy a calcular que porcentaje de los usuarios de medicina prepaga en relacion a los de obras sociales para ver si es relevante.

In [149]:
df["procentaje_obras"] = df["obras_sociales"]/df["cant_habitantes"]*100

df["procentaje_prepagas"] = df["prepagas"]/df["cant_habitantes"]*100

df["rel_prepagas_obras_soc"] = df["prepagas"]/df["obras_sociales"]*100

df

,id_provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc
provincia,,,,,,,,,
BUENOS AIRES,6,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297
CAPITAL FEDERAL,2,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127
CATAMARCA,10,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473
CHACO,22,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677
CHUBUT,26,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246
CORDOBA,14,1736832,424337,2161169,3606440.0,59.925273,48.159182,11.766091,24.431666
CORRIENTES,18,388064,39402,427466,1080355.0,39.567179,35.920045,3.647135,10.153480
ENTRE RIOS,30,608711,76230,684941,1334000.0,51.344903,45.630510,5.714393,12.523184
FORMOSA,34,140955,11111,152066,584614.0,26.011351,24.110781,1.900570,7.882658
JUJUY,38,243009,22834,265843,736542.0,36.093393,32.993231,3.100163,9.396360
LA PAMPA,42,154088,29853,183941,346191.0,53.132808,44.509534,8.623274,19.373994
LA RIOJA,46,121185,14000,135185,372879.0,36.254388,32.499819,3.754569,11.552585
MENDOZA,50,859801,136989,996790,1907045.0,52.268824,45.085512,7.183312,15.932640
MISIONES,54,419266,34681,453947,1204182.0,37.697541,34.817494,2.880046,8.271837
NEUQUEN,58,246021,61563,307584,628897.0,48.908486,39.119442,9.789043,25.023474
RIO NEGRO,62,340886,53079,393965,708799.0,55.582048,48.093465,7.488583,15.570895
SALTA,66,445201,49502,494703,1351878.0,36.593761,32.932040,3.661721,11.119023
SAN JUAN,70,296718,40544,337262,747488.0,45.119387,39.695353,5.424034,13.664152
SAN LUIS,74,191324,25176,216500,482796.0,44.842956,39.628332,5.214625,13.158830
SANTA CRUZ,78,141061,43873,184934,329499.0,56.125815,42.810752,13.315063,31.102147
SANTA FE,82,1671953,376989,2048942,3425656.0,59.811668,48.806798,11.004870,22.547823
SANTIAGO DEL ESTERO,86,262962,15209,278171,938109.0,29.652311,28.031071,1.621240,5.783725
TIERRA DEL FUEGO,94,82051,30940,112991,156509.0,72.194570,52.425739,19.768831,37.708255
TUCUMAN,90,657039,35840,692879,1613476.0,42.943248,40.721957,2.221291,5.454775

In [150]:
mayor_25 = df[df["rel_prepagas_obras_soc"]>25]["rel_prepagas_obras_soc"]

mayor_25

provincia
CAPITAL FEDERAL     32.297127
NEUQUEN             25.023474
SANTA CRUZ          31.102147
TIERRA DEL FUEGO    37.708255
Name: rel_prepagas_obras_soc, dtype: float64

### En solo 4 provincias la relacion entre usuarios de prepagas y obras sociales es mayor al 25%. Ya que no puedo diferenciarlos voy a tomar la decision de usar solo los datos de usuarios de obras sociales para el analisis. Y en cualquier caso hacer otro analisis para estas 4 provincias.

In [151]:
mortalidad_url = "http://www.deis.msal.gov.ar/wp-content/uploads/2019/01/DefWeb17.csv"
mortalidad = pd.read_csv(mortalidad_url,encoding="latin-1")

mortalidad.head()

   PROVRES  SEXO CAUSA  MAT     GRUPEDAD  CUENTA
0       82     1   V22  NaN   06_25 a 29       1
1       30     1   D48  NaN  17_80 y más       1
2       42     1   I50  NaN  17_80 y más       7
3       70     1   W36  NaN   07_30 a 34       1
4       82     1   Y30  NaN   06_25 a 29       1

In [152]:
mortalidad["GRUPEDAD"].unique()

array(['06_25 a 29', '17_80 y más', '07_30 a 34', '11_50 a 54',
       '16_75 a 79', '05_20 a 24', '10_45 a 49', '12_55 a 59',
       '15_70 a 74', '03_10 a 14', '99_Sin especificar', '04_15 a 19',
       '09_40 a 44', '14_65 a 69', '13_60 a 64', '08_35 a 39',
       '01_Menor de 1 año', '02_1 a 9'], dtype=object)

In [153]:
muertes_infantil = mortalidad[mortalidad["GRUPEDAD"] == "01_Menor de 1 año"]

muertes_infantil = muertes_infantil.groupby("PROVRES",as_index= False).sum()[["PROVRES","CUENTA"]]

muertes_infantil.rename(columns={"PROVRES":"id_provincia"},inplace=True)

muertes_infantil.set_index("id_provincia",inplace=True)

muertes_infantil = muertes_infantil.iloc[:24]

muertes_infantil

              CUENTA
id_provincia
2                248
6               2471
10                50
14               507
18               255
22               253
26                61
30               181
34               186
38               124
42                43
46                60
50               245
54               215
58                74
62                93
66               297
70               146
74                60
78                48
82               480
86               134
90               316
94                19

In [154]:
nacimientos_url = "http://www.deis.msal.gov.ar/wp-content/uploads/2019/01/NacWeb17.csv"

nacimientos = pd.read_csv(nacimientos_url,encoding="latin-1")

nacimientos.head()

,PROVRES,TIPPARTO,SEXO,IMEDAD,ITIEMGEST,IMINSTRUC,IPESONAC,CUENTA
0,2,1.0,2,9.Sin especificar,5.32 a 36,2.Secundaria/Polimodal Incompleta,2.2500 gramos y más,1
1,90,1.0,2,5.30 a 34,3.24 a 27,3.Secundario/Polimodal Completa y más,1.Menos de 2500 gramos,7
2,90,1.0,2,5.30 a 34,6.37 a 41,4.Sin especificar,1.Menos de 2500 gramos,1
3,90,1.0,1,1.Menor de 15,5.32 a 36,2.Secundaria/Polimodal Incompleta,1.Menos de 2500 gramos,1
4,22,2.0,1,3.20 a 24,6.37 a 41,2.Secundaria/Polimodal Incompleta,1.Menos de 2500 gramos,2

In [155]:
nacimientos = nacimientos.groupby("PROVRES",as_index= False).sum()[["PROVRES","CUENTA"]]

nacimientos = nacimientos.iloc[:24]

nacimientos

    PROVRES  CUENTA
0         2   35840
1         6  262721
2        10    6392
3        14   54804
4        18   19987
5        22   23125
6        26    9023
7        30   21966
8        34   11591
9        38   11785
10       42    4979
11       46    5895
12       50   31420
13       54   25738
14       58   10397
15       62   11513
16       66   27014
17       70   13705
18       74    7225
19       78    5747
20       82   53206
21       86   17783
22       90   27369
23       94    2718

In [156]:
df = df.reset_index()

df = df.set_index("id_provincia")

df

,provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc
id_provincia,,,,,,,,,
6,BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297
2,CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127
10,CATAMARCA,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473
22,CHACO,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677
26,CHUBUT,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246
14,CORDOBA,1736832,424337,2161169,3606440.0,59.925273,48.159182,11.766091,24.431666
18,CORRIENTES,388064,39402,427466,1080355.0,39.567179,35.920045,3.647135,10.153480
30,ENTRE RIOS,608711,76230,684941,1334000.0,51.344903,45.630510,5.714393,12.523184
34,FORMOSA,140955,11111,152066,584614.0,26.011351,24.110781,1.900570,7.882658
38,JUJUY,243009,22834,265843,736542.0,36.093393,32.993231,3.100163,9.396360
42,LA PAMPA,154088,29853,183941,346191.0,53.132808,44.509534,8.623274,19.373994
46,LA RIOJA,121185,14000,135185,372879.0,36.254388,32.499819,3.754569,11.552585
50,MENDOZA,859801,136989,996790,1907045.0,52.268824,45.085512,7.183312,15.932640
54,MISIONES,419266,34681,453947,1204182.0,37.697541,34.817494,2.880046,8.271837
58,NEUQUEN,246021,61563,307584,628897.0,48.908486,39.119442,9.789043,25.023474
62,RIO NEGRO,340886,53079,393965,708799.0,55.582048,48.093465,7.488583,15.570895
66,SALTA,445201,49502,494703,1351878.0,36.593761,32.932040,3.661721,11.119023
70,SAN JUAN,296718,40544,337262,747488.0,45.119387,39.695353,5.424034,13.664152
74,SAN LUIS,191324,25176,216500,482796.0,44.842956,39.628332,5.214625,13.158830
78,SANTA CRUZ,141061,43873,184934,329499.0,56.125815,42.810752,13.315063,31.102147
82,SANTA FE,1671953,376989,2048942,3425656.0,59.811668,48.806798,11.004870,22.547823
86,SANTIAGO DEL ESTERO,262962,15209,278171,938109.0,29.652311,28.031071,1.621240,5.783725
94,TIERRA DEL FUEGO,82051,30940,112991,156509.0,72.194570,52.425739,19.768831,37.708255
90,TUCUMAN,657039,35840,692879,1613476.0,42.943248,40.721957,2.221291,5.454775

In [157]:
nacimientos.rename(columns={"PROVRES":"id_provincia"},inplace=True)
nacimientos.set_index("id_provincia",inplace=True)

nacimientos

              CUENTA
id_provincia
2              35840
6             262721
10              6392
14             54804
18             19987
22             23125
26              9023
30             21966
34             11591
38             11785
42              4979
46              5895
50             31420
54             25738
58             10397
62             11513
66             27014
70             13705
74              7225
78              5747
82             53206
86             17783
90             27369
94              2718

In [158]:
df["nacimientos"] = nacimientos
df

,provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc,nacimientos
id_provincia,,,,,,,,,,
6,BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297,262721
2,CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127,35840
10,CATAMARCA,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473,6392
22,CHACO,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677,23125
26,CHUBUT,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246,9023
14,CORDOBA,1736832,424337,2161169,3606440.0,59.925273,48.159182,11.766091,24.431666,54804
18,CORRIENTES,388064,39402,427466,1080355.0,39.567179,35.920045,3.647135,10.153480,19987
30,ENTRE RIOS,608711,76230,684941,1334000.0,51.344903,45.630510,5.714393,12.523184,21966
34,FORMOSA,140955,11111,152066,584614.0,26.011351,24.110781,1.900570,7.882658,11591
38,JUJUY,243009,22834,265843,736542.0,36.093393,32.993231,3.100163,9.396360,11785
42,LA PAMPA,154088,29853,183941,346191.0,53.132808,44.509534,8.623274,19.373994,4979
46,LA RIOJA,121185,14000,135185,372879.0,36.254388,32.499819,3.754569,11.552585,5895
50,MENDOZA,859801,136989,996790,1907045.0,52.268824,45.085512,7.183312,15.932640,31420
54,MISIONES,419266,34681,453947,1204182.0,37.697541,34.817494,2.880046,8.271837,25738
58,NEUQUEN,246021,61563,307584,628897.0,48.908486,39.119442,9.789043,25.023474,10397
62,RIO NEGRO,340886,53079,393965,708799.0,55.582048,48.093465,7.488583,15.570895,11513
66,SALTA,445201,49502,494703,1351878.0,36.593761,32.932040,3.661721,11.119023,27014
70,SAN JUAN,296718,40544,337262,747488.0,45.119387,39.695353,5.424034,13.664152,13705
74,SAN LUIS,191324,25176,216500,482796.0,44.842956,39.628332,5.214625,13.158830,7225
78,SANTA CRUZ,141061,43873,184934,329499.0,56.125815,42.810752,13.315063,31.102147,5747
82,SANTA FE,1671953,376989,2048942,3425656.0,59.811668,48.806798,11.004870,22.547823,53206
86,SANTIAGO DEL ESTERO,262962,15209,278171,938109.0,29.652311,28.031071,1.621240,5.783725,17783
94,TIERRA DEL FUEGO,82051,30940,112991,156509.0,72.194570,52.425739,19.768831,37.708255,2718
90,TUCUMAN,657039,35840,692879,1613476.0,42.943248,40.721957,2.221291,5.454775,27369

In [159]:
df["muertes_<1año"] = muertes_infantil
df

,provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc,nacimientos,muertes_<1año
id_provincia,,,,,,,,,,,
6,BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297,262721,2471
2,CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127,35840,248
10,CATAMARCA,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473,6392,50
22,CHACO,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677,23125,253
26,CHUBUT,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246,9023,61
14,CORDOBA,1736832,424337,2161169,3606440.0,59.925273,48.159182,11.766091,24.431666,54804,507
18,CORRIENTES,388064,39402,427466,1080355.0,39.567179,35.920045,3.647135,10.153480,19987,255
30,ENTRE RIOS,608711,76230,684941,1334000.0,51.344903,45.630510,5.714393,12.523184,21966,181
34,FORMOSA,140955,11111,152066,584614.0,26.011351,24.110781,1.900570,7.882658,11591,186
38,JUJUY,243009,22834,265843,736542.0,36.093393,32.993231,3.100163,9.396360,11785,124
42,LA PAMPA,154088,29853,183941,346191.0,53.132808,44.509534,8.623274,19.373994,4979,43
46,LA RIOJA,121185,14000,135185,372879.0,36.254388,32.499819,3.754569,11.552585,5895,60
50,MENDOZA,859801,136989,996790,1907045.0,52.268824,45.085512,7.183312,15.932640,31420,245
54,MISIONES,419266,34681,453947,1204182.0,37.697541,34.817494,2.880046,8.271837,25738,215
58,NEUQUEN,246021,61563,307584,628897.0,48.908486,39.119442,9.789043,25.023474,10397,74
62,RIO NEGRO,340886,53079,393965,708799.0,55.582048,48.093465,7.488583,15.570895,11513,93
66,SALTA,445201,49502,494703,1351878.0,36.593761,32.932040,3.661721,11.119023,27014,297
70,SAN JUAN,296718,40544,337262,747488.0,45.119387,39.695353,5.424034,13.664152,13705,146
74,SAN LUIS,191324,25176,216500,482796.0,44.842956,39.628332,5.214625,13.158830,7225,60
78,SANTA CRUZ,141061,43873,184934,329499.0,56.125815,42.810752,13.315063,31.102147,5747,48
82,SANTA FE,1671953,376989,2048942,3425656.0,59.811668,48.806798,11.004870,22.547823,53206,480
86,SANTIAGO DEL ESTERO,262962,15209,278171,938109.0,29.652311,28.031071,1.621240,5.783725,17783,134
94,TIERRA DEL FUEGO,82051,30940,112991,156509.0,72.194570,52.425739,19.768831,37.708255,2718,19
90,TUCUMAN,657039,35840,692879,1613476.0,42.943248,40.721957,2.221291,5.454775,27369,316

In [160]:
def mortalidad_inf(mortalidad, natalidad):
    
    return mortalidad/natalidad*1000
    
    
df["mortalidad_infantil"] = mortalidad_inf(df["muertes_<1año"],df["nacimientos"])

df

,provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc,nacimientos,muertes_<1año,mortalidad_infantil
id_provincia,,,,,,,,,,,,
6,BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297,262721,2471,9.405415
2,CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127,35840,248,6.919643
10,CATAMARCA,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473,6392,50,7.822278
22,CHACO,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677,23125,253,10.940541
26,CHUBUT,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246,9023,61,6.760501
14,CORDOBA,1736832,424337,2161169,3606440.0,59.925273,48.159182,11.766091,24.431666,54804,507,9.251150
18,CORRIENTES,388064,39402,427466,1080355.0,39.567179,35.920045,3.647135,10.153480,19987,255,12.758293
30,ENTRE RIOS,608711,76230,684941,1334000.0,51.344903,45.630510,5.714393,12.523184,21966,181,8.240007
34,FORMOSA,140955,11111,152066,584614.0,26.011351,24.110781,1.900570,7.882658,11591,186,16.046933
38,JUJUY,243009,22834,265843,736542.0,36.093393,32.993231,3.100163,9.396360,11785,124,10.521850
42,LA PAMPA,154088,29853,183941,346191.0,53.132808,44.509534,8.623274,19.373994,4979,43,8.636272
46,LA RIOJA,121185,14000,135185,372879.0,36.254388,32.499819,3.754569,11.552585,5895,60,10.178117
50,MENDOZA,859801,136989,996790,1907045.0,52.268824,45.085512,7.183312,15.932640,31420,245,7.797581
54,MISIONES,419266,34681,453947,1204182.0,37.697541,34.817494,2.880046,8.271837,25738,215,8.353407
58,NEUQUEN,246021,61563,307584,628897.0,48.908486,39.119442,9.789043,25.023474,10397,74,7.117438
62,RIO NEGRO,340886,53079,393965,708799.0,55.582048,48.093465,7.488583,15.570895,11513,93,8.077825
66,SALTA,445201,49502,494703,1351878.0,36.593761,32.932040,3.661721,11.119023,27014,297,10.994299
70,SAN JUAN,296718,40544,337262,747488.0,45.119387,39.695353,5.424034,13.664152,13705,146,10.653046
74,SAN LUIS,191324,25176,216500,482796.0,44.842956,39.628332,5.214625,13.158830,7225,60,8.304498
78,SANTA CRUZ,141061,43873,184934,329499.0,56.125815,42.810752,13.315063,31.102147,5747,48,8.352184
82,SANTA FE,1671953,376989,2048942,3425656.0,59.811668,48.806798,11.004870,22.547823,53206,480,9.021539
86,SANTIAGO DEL ESTERO,262962,15209,278171,938109.0,29.652311,28.031071,1.621240,5.783725,17783,134,7.535287
94,TIERRA DEL FUEGO,82051,30940,112991,156509.0,72.194570,52.425739,19.768831,37.708255,2718,19,6.990434
90,TUCUMAN,657039,35840,692879,1613476.0,42.943248,40.721957,2.221291,5.454775,27369,316,11.545910

In [161]:
df[["provincia","mortalidad_infantil"]]

                        provincia  mortalidad_infantil
id_provincia
6                    BUENOS AIRES             9.405415
2                 CAPITAL FEDERAL             6.919643
10                      CATAMARCA             7.822278
22                          CHACO            10.940541
26                         CHUBUT             6.760501
14                        CORDOBA             9.251150
18                     CORRIENTES            12.758293
30                     ENTRE RIOS             8.240007
34                        FORMOSA            16.046933
38                          JUJUY            10.521850
42                       LA PAMPA             8.636272
46                       LA RIOJA            10.178117
50                        MENDOZA             7.797581
54                       MISIONES             8.353407
58                        NEUQUEN             7.117438
62                      RIO NEGRO             8.077825
66                          SALTA            10.994299
70                       SAN JUAN            10.653046
74                       SAN LUIS             8.304498
78                     SANTA CRUZ             8.352184
82                       SANTA FE             9.021539
86            SANTIAGO DEL ESTERO             7.535287
94               TIERRA DEL FUEGO             6.990434
90                        TUCUMAN            11.545910

In [162]:
prog_mort_infant_url = "http://datos.salud.gob.ar/dataset/2eff770c-1c2b-4a22-9281-c3b5e9412086/resource/c1253897-d507-41f7-a3e1-6ed756e7243b/download/tasa-mortalidad-infantil-deis.csv"

prog_mort_infant = pd.read_csv(prog_mort_infant_url)
prog_mort_infant

,indice_tiempo,mortalidad_infantil_argentina,mortalidad_infantil_caba,mortalidad_infantil_buenosaires,mortalidad_infantil_catamarca,mortalidad_infantil_cordoba,mortalidad_infantil_corrientes,mortalidad_infantil_chaco,mortalidad_infantil_chubut,mortalidad_infantil_entrerios,...,mortalidad_infantil_neuquen,mortalidad_infantil_rionegro,mortalidad_infantil_salta,mortalidad_infantil_sanjuan,mortalidad_infantil_sanluis,mortalidad_infantil_santacruz,mortalidad_infantil_santafe,mortalidad_infantil_santiagodelestero,mortalidad_infantil_tucuman,mortalidad_infantil_tierradelfuego
0,1990-01-01,25.6,16.8,24.2,34.6,22.2,31.7,35.8,20.6,24.3,...,16.9,23.1,32.3,24.4,29.7,20.7,28.3,28.3,28.5,27.9
1,1991-01-01,24.7,15.2,24.2,31.8,22.3,28.5,32.3,19.1,23.2,...,15.6,24.1,32.9,24.6,28.6,19.9,22.2,29.2,28.6,16.7
2,1992-01-01,23.9,14.9,23.5,28.1,19.6,27.7,33.5,19.9,22.1,...,16.2,22.7,32.8,23.7,23.7,20.6,20.9,28.7,28.8,11.2
3,1993-01-01,22.9,14.6,22.3,23.1,20.8,26.9,34.3,18.0,22.7,...,16.2,21.4,27.7,21.3,26.2,18.5,19.8,28.9,27.1,15.2
4,1994-01-01,22.0,14.3,21.8,29.8,20.0,26.1,31.4,18.4,20.4,...,15.3,19.6,29.8,21.3,27.6,15.9,17.8,29.0,23.9,13.6
5,1995-01-01,22.2,13.1,22.2,26.1,20.5,27.3,32.8,20.3,20.5,...,14.1,20.8,26.8,25.2,23.1,21.9,17.6,23.3,28.9,11.1
6,1996-01-01,20.9,14.7,20.9,26.4,19.4,26.1,34.4,18.0,19.5,...,15.7,16.2,25.5,21.6,20.6,12.8,15.7,17.1,28.8,9.7
7,1997-01-01,18.8,12.2,18.8,25.6,16.3,22.8,28.2,19.1,19.6,...,13.8,15.5,20.5,21.5,19.9,16.0,16.3,16.6,19.6,11.2
8,1998-01-01,19.1,13.0,19.1,23.3,16.8,23.8,31.8,19.7,18.8,...,14.8,17.7,22.6,21.7,20.6,18.0,16.2,18.1,19.9,11.9
9,1999-01-01,17.6,10.7,16.6,20.3,15.3,22.9,29.0,17.9,19.5,...,12.4,15.8,21.2,20.7,18.9,13.2,15.2,15.5,22.5,7.8
10,2000-01-01,16.6,9.4,15.1,21.0,15.0,30.4,21.9,15.8,16.9,...,11.4,16.6,18.8,19.4,17.2,17.2,14.4,13.2,22.4,10.5
11,2001-01-01,16.3,9.6,15.0,15.5,16.2,23.5,24.0,13.1,14.9,...,13.0,14.7,19.1,18.8,17.8,14.5,14.3,14.8,24.5,10.1
12,2002-01-01,16.8,10.0,15.8,20.6,14.8,23.8,26.7,17.8,16.5,...,11.7,14.8,18.9,20.2,16.5,17.2,14.0,12.4,24.3,9.1
13,2003-01-01,16.5,10.3,16.3,20.1,14.3,21.1,27.7,15.1,17.2,...,10.8,15.9,16.9,19.6,17.4,15.5,13.9,14.2,23.0,8.4
14,2004-01-01,14.4,8.7,13.0,21.8,12.7,19.3,21.3,11.8,15.5,...,11.1,14.1,15.4,16.4,15.2,11.9,12.0,13.8,20.5,4.1
15,2005-01-01,13.3,8.0,13.0,16.8,11.9,18.2,19.9,11.7,13.2,...,9.9,9.4,14.3,16.7,16.0,11.0,12.4,11.7,16.2,6.7
16,2006-01-01,12.9,8.3,12.5,15.4,11.6,17.5,18.9,11.5,12.6,...,9.8,9.3,14.9,14.0,12.8,15.4,11.0,12.1,13.5,10.9
17,2007-01-01,13.3,8.4,13.6,14.9,12.7,15.6,21.2,11.0,11.9,...,9.6,9.8,15.4,13.2,15.7,12.9,11.6,13.8,12.9,10.2
18,2008-01-01,12.5,7.7,12.4,15.3,12.1,17.1,18.0,10.4,13.5,...,7.4,11.7,14.4,14.4,13.1,10.6,11.5,10.4,13.8,6.8
19,2009-01-01,12.1,8.5,12.5,14.5,10.7,15.3,17.8,9.4,11.8,...,7.6,8.8,14.0,11.0,12.9,10.3,11.1,12.1,13.1,4.6
20,2010-01-01,11.9,7.0,12.0,15.4,11.1,16.8,14.7,9.8,11.6,...,9.2,9.4,12.8,11.0,10.7,9.7,10.3,14.0,14.1,9.9
21,2011-01-01,11.7,8.8,11.8,14.0,10.8,15.7,11.4,10.2,11.0,...,7.5,9.6,14.0,9.9,12.3,9.7,10.8,11.7,14.1,7.1
22,2012-01-01,11.1,8.3,11.4,8.9,9.7,14.4,13.3,9.8,10.8,...,6.9,9.4,12.9,9.9,10.9,8.9,10.3,11.6,14.1,7.4
23,2013-01-01,10.8,8.9,11.0,9.7,9.6,14.9,11.6,9.3,9.2,...,10.3,11.4,14.1,12.3,8.6,9.5,9.8,11.5,13.1,7.7
24,2014-01-01,10.6,8.1,10.5,9.2,8.9,15.9,12.8,8.1,9.9,...,9.2,8.7,12.8,11.1,11.0,9.9,10.4,10.9,13.3,8.2
25,2015-01-01,9.7,6.4,9.9,11.0,8.4,14.5,11.6,6.9,10.4,...,8.7,8.2,11.8,9.1,9.4,10.9,8.3,8.3,12.4,7.6
26,2016-01-01,9.7,7.5,9.9,11.7,8.9,13.5,11.9,9.0,10.4,...,7.5,7.0,11.8,8.1,9.7,9.2,8.2,10.7,11.0,6.7
27,2017-01-01,9.3,6.9,9.4,7.8,9.3,12.8,10.9,6.8,8.2,...,7.1,8.1,11.0,10.7,8.3,8.4,9.0,7.5,11.5,7.0

In [163]:
mortalidad.head()

   PROVRES  SEXO CAUSA  MAT     GRUPEDAD  CUENTA
0       82     1   V22  NaN   06_25 a 29       1
1       30     1   D48  NaN  17_80 y más       1
2       42     1   I50  NaN  17_80 y más       7
3       70     1   W36  NaN   07_30 a 34       1
4       82     1   Y30  NaN   06_25 a 29       1

In [164]:
mortalidad["MAT"].isnull().sum().sum()

49630

In [165]:
mortalidad_materna = mortalidad.dropna()

print(mortalidad_materna.shape)

mortalidad_materna.head(20)

(201, 6)

      PROVRES  SEXO CAUSA MAT    GRUPEDAD  CUENTA
106        66     2   O44   M  06_25 a 29       1
167        86     2   O15   M  07_30 a 34       1
213        62     2   O43   M  06_25 a 29       1
577         6     2   O00   M  05_20 a 24       2
795        18     2   O99   M  06_25 a 29       1
1251       34     2   O14   M  07_30 a 34       1
1742        6     2   O14   M  08_35 a 39       1
1974        6     2   O72   M  09_40 a 44       1
2298       38     2   O86   M  09_40 a 44       1
2408       18     2   O13   M  05_20 a 24       1
2529       14     2   O03   M  06_25 a 29       1
2626        6     2   O15   M  05_20 a 24       3
2635       54     2   O14   M  08_35 a 39       1
2877       66     2   O99   M  05_20 a 24       2
3051       50     2   O96   T  06_25 a 29       1
3132       94     2   O96   T  04_15 a 19       1
3172        6     2   O95   M  07_30 a 34       1
3237       14     2   O71   M  06_25 a 29       1
3453       58     2   O96   T  07_30 a 34       1
3459       66     2   O96   T  06_25 a 29       1

In [166]:
mortalidad_materna = mortalidad_materna.rename(columns={"PROVRES":"id_provincia"})

mortalidad_materna = mortalidad_materna.set_index("id_provincia")

mortalidad_materna.head()

              SEXO CAUSA MAT    GRUPEDAD  CUENTA
id_provincia
66               2   O44   M  06_25 a 29       1
86               2   O15   M  07_30 a 34       1
62               2   O43   M  06_25 a 29       1
6                2   O00   M  05_20 a 24       2
18               2   O99   M  06_25 a 29       1

In [169]:
mortalidad_materna = mortalidad_materna.groupby("id_provincia").sum()

print(mortalidad_materna.shape)

mortalidad_materna

(24, 2)

              SEXO  CUENTA
id_provincia
2                4       2
6              106      88
10               4       2
14              36      20
18              24      13
22              28      16
26               8       4
30              10       5
34              26      13
38              12       6
42               4       2
46               6       3
50              20      13
54              24      13
58               4       2
62               8       4
66              26      14
70               2       1
78               2       1
82              18       9
86              12       6
90              12       7
94               4       2
98               2       1

In [176]:
mortalidad_materna = mortalidad_materna[:23]

mortalidad_materna

              SEXO  CUENTA
id_provincia
2                4       2
6              106      88
10               4       2
14              36      20
18              24      13
22              28      16
26               8       4
30              10       5
34              26      13
38              12       6
42               4       2
46               6       3
50              20      13
54              24      13
58               4       2
62               8       4
66              26      14
70               2       1
78               2       1
82              18       9
86              12       6
90              12       7
94               4       2

In [177]:
def maternal_mortality_ratio(deaths,births):
    
    return deaths*100000/births
df.head()

,provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc,nacimientos,muertes_<1año,mortalidad_infantil,maternal_mortality_ratio
id_provincia,,,,,,,,,,,,,
6,BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297,262721,2471,9.405415,33.495609
2,CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127,35840,248,6.919643,5.580357
10,CATAMARCA,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473,6392,50,7.822278,31.289111
22,CHACO,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677,23125,253,10.940541,69.189189
26,CHUBUT,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246,9023,61,6.760501,44.331154

In [178]:
df["maternal_mortality_ratio"] = maternal_mortality_ratio(mortalidad_materna["CUENTA"],df["nacimientos"])

df

,provincia,obras_sociales,prepagas,total_med_privada,cant_habitantes,procentaje_salud_privada,procentaje_obras,procentaje_prepagas,rel_prepagas_obras_soc,nacimientos,muertes_<1año,mortalidad_infantil,maternal_mortality_ratio
id_provincia,,,,,,,,,,,,,
6,BUENOS AIRES,8474524,1663320,10137844,16842135.0,60.193342,50.317397,9.875945,19.627297,262721,2471,9.405415,33.495609
2,CAPITAL FEDERAL,2884272,931537,3815809,3059122.0,124.735431,94.284308,30.451123,32.297127,35840,248,6.919643,5.580357
10,CATAMARCA,129925,10939,140864,400678.0,35.156410,32.426287,2.730122,8.419473,6392,50,7.822278,31.289111
22,CHACO,306228,23649,329877,1155723.0,28.542912,26.496661,2.046252,7.722677,23125,253,10.940541,69.189189
26,CHUBUT,292378,70265,362643,577456.0,62.800109,50.632083,12.168027,24.032246,9023,61,6.760501,44.331154
14,CORDOBA,1736832,424337,2161169,3606440.0,59.925273,48.159182,11.766091,24.431666,54804,507,9.251150,36.493687
18,CORRIENTES,388064,39402,427466,1080355.0,39.567179,35.920045,3.647135,10.153480,19987,255,12.758293,65.042277
30,ENTRE RIOS,608711,76230,684941,1334000.0,51.344903,45.630510,5.714393,12.523184,21966,181,8.240007,22.762451
34,FORMOSA,140955,11111,152066,584614.0,26.011351,24.110781,1.900570,7.882658,11591,186,16.046933,112.155983
38,JUJUY,243009,22834,265843,736542.0,36.093393,32.993231,3.100163,9.396360,11785,124,10.521850,50.912176
42,LA PAMPA,154088,29853,183941,346191.0,53.132808,44.509534,8.623274,19.373994,4979,43,8.636272,40.168709
46,LA RIOJA,121185,14000,135185,372879.0,36.254388,32.499819,3.754569,11.552585,5895,60,10.178117,50.890585
50,MENDOZA,859801,136989,996790,1907045.0,52.268824,45.085512,7.183312,15.932640,31420,245,7.797581,41.374920
54,MISIONES,419266,34681,453947,1204182.0,37.697541,34.817494,2.880046,8.271837,25738,215,8.353407,50.508975
58,NEUQUEN,246021,61563,307584,628897.0,48.908486,39.119442,9.789043,25.023474,10397,74,7.117438,19.236318
62,RIO NEGRO,340886,53079,393965,708799.0,55.582048,48.093465,7.488583,15.570895,11513,93,8.077825,34.743334
66,SALTA,445201,49502,494703,1351878.0,36.593761,32.932040,3.661721,11.119023,27014,297,10.994299,51.824980
70,SAN JUAN,296718,40544,337262,747488.0,45.119387,39.695353,5.424034,13.664152,13705,146,10.653046,7.296607
74,SAN LUIS,191324,25176,216500,482796.0,44.842956,39.628332,5.214625,13.158830,7225,60,8.304498,NaN
78,SANTA CRUZ,141061,43873,184934,329499.0,56.125815,42.810752,13.315063,31.102147,5747,48,8.352184,17.400383
82,SANTA FE,1671953,376989,2048942,3425656.0,59.811668,48.806798,11.004870,22.547823,53206,480,9.021539,16.915385
86,SANTIAGO DEL ESTERO,262962,15209,278171,938109.0,29.652311,28.031071,1.621240,5.783725,17783,134,7.535287,33.740089
94,TIERRA DEL FUEGO,82051,30940,112991,156509.0,72.194570,52.425739,19.768831,37.708255,2718,19,6.990434,73.583517
90,TUCUMAN,657039,35840,692879,1613476.0,42.943248,40.721957,2.221291,5.454775,27369,316,11.545910,25.576382